# Site settings
title: Sohan Sanjeeva Puthran
email: puthran.sohan@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Data Scientist | Machine Learning | Data Engineering  
  Passionate about solving real-world problems through AI and analytics.
github_username: sohansputhran
linkedin_username: sohansputhran
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate_path: /page:num/
# timezone: America/Chicago

# Pagination
# paginate: 6
# paginate_path: /page:num/

include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Sohan Sanjeeva Puthran"
  avatar : "assets/images/bio-photo.jpg"
  bio    : "Data Scientist with 3+ years experience in ML, analytics, and AI. Passionate about data, technology, and innovation."
  location: "USA"
  email: "puthran.sohan@gmail.com"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/sohansputhran"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/sohansputhran/"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/sohansputhran"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/sohansputhran/"
    - label: "Email"
      icon: "fas fa-envelope"
      url: "mailto:sohanputhran@gmail.com"

defaults:
  # Pages in _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
      classes: wide

  # Project collection items in _projects
  - scope:
      path: "_projects"
      type: projects
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false
      classes: wide
      sidebar: false
      toc: false


category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/

collections:
  projects:
    output: true
    permalink: /projects/:path/

# Social image preview
# logo: "/assets/images/logo.png"
